extends layout

block content
    .content.table.table--fullsize
        section.container__sm.table__cell
            .box
                .box__body
                    p.text__paragraph Omlouvám se, ale pro srovnatelné podmínky je nutné dotazník vyplnit na počítači.
