extends layout

block content
  section.content
        .container__md
            .box
                .box__header.box__header--border
                    h1.text__title Hlavní nadpis
                .box__body
                    p.text__paragraph Lorem ipsum...
