extends layout

block content
    .content.table.table--fullsize
        form#tasks-form(action='./submit' method='POST').table__cell
            section.container__sm(data-task="-1")
                .box
                    .box__body
                        p.text__paragraph Dobrý den, 
                        p.text__paragraph.margin--top-30 jmenuji se Eva Rozumová a jsem studentkou FF UK. Ráda bych Vás pozvala a zároveň požádala o spoluúčast na výzkumu Vliv spánkové deprivace na kvalitu učení u vysokoškolských studentů. 
                        p.text__paragraph.margin--top-30 Výzkum spočívá v tom, že účastníci probdí celou noc, aby došlo k 24 hodinové deprivaci a následně jim bude dán test paměti.  Důležitou podmínkou průzkumu je, že respondenti nesmí požívat žádné psychotropní látky. Káva a energy drinky jsou povoleny. 
                        p.text__paragraph.margin--top-30 Výsledky poslouží k mé bakalářské práci.
                        
                        .margin--top-30.text--right
                            button#start.btn.btn__teal--full(type='button') Rozumím, jdeme na to

            section.taskContainer.container__sm(data-task="0")
                .box
                    .box__header
                        h1.text__title Pár detailů
                    .box__body
                        .fieldset.row
                            .field__container.field__radio.col-xs-7.col-sm-3
                                label.text__label Pohlaví
                                .field
                                    .radio__wrapper
                                        .radio
                                            input#gender-man(type='radio', name='gender', value="muž", required)
                                        label(for="gender-man") Muž
                                    .radio__wrapper
                                        .radio
                                            input#gender-woman(type='radio', name='gender', value="žena")
                                        label(for="gender-woman") Žena
                            .field__container.col-xs-5.col-sm-2
                                label.text__label(for="age") Věk
                                input#age.field(type='tel', name="age", pattern="[1-9][0-9]", placeholder="22", required)
                            .field__container.field__select.col-xs-12.col-sm-7
                                label.text__label(for="school") Škola
                                select#school.field(name="school", required)
                                    option(value='', selected, disabled) ---
                                    optgroup(label="Vysoké školy")
                                        each u in universities
                                            option(value= u.id)= u.name
                                    optgroup(label="Vyšší odborné školy")
                                        each s in higherSchools
                                            option(value= s.id)= s.name
                                svg.svgIcon
                                    use(xlink:href="#chevron-down")

                        .margin--top-30.text--right
                            button.btn.btn__teal--full(type='button', data-next-task='1') Další

            section.taskContainer.container__sm(data-task="99")
                .box
                    .box__header
                        h1.text__title Dotazník
                    .box__body
                        ol.questionsList
                            li.fieldset.row
                                .itemNumber 1
                                .field__container.col-xs-12
                                    label.text__paragraph(for='questionnaire-1') Charakterizujte, zda se řadíte spíše k lidem, kteří jsou aktivní po ránu, nebo spíše k těm, kteří si práci nechávají na večer, kdy je jejich produktivita nejvyšší. (Jste spíše ranní ptáče nebo noční sova?)
                                    input#questionnaire-1.field(name='questionnaire-1', type='text')
                            li.fieldset.row
                                .itemNumber 2
                                .field__container.col-xs-12
                                    label.text__paragraph(for='questionnaire-2') Jak jste se cítil/a při psaní testu (rozmrzele, čerstvě, unaveně…)? (popište)
                                    input#questionnaire-2.field(name='questionnaire-2', type='text')
                            li.fieldset.row
                                .itemNumber 3
                                .field__container.col-xs-12
                                    label.text__paragraph(for='questionnaire-3') Dodržujete pravidelný spánkový režim, nebo naopak pociťujete spánkový deficit? (Je to způsobeno školními povinnostmi?)
                                    input#questionnaire-3.field(name='questionnaire-3', type='text')
                        .fieldset.row.margin--top-60
                            .field__container.field__checkbox.col-xs-12
                                .field
                                    .checkbox__wrapper
                                        .checkbox
                                            input(id='slept', type='checkbox', name='slept')
                                        label(for='slept') Bohužel jsem během posledních 24 hodin usnul/a.

                        .margin--top-30.text--right
                            button#save.btn.btn__teal--full(type='button') Uložit

            section.taskContainer.container__sm(data-task="100")
                .box
                    .box__header
                        h1.text__title To je vše :-)
                    .box__body
                        p.text__paragraph Velice Vám děkuji, že jste se experimentu zúčastnili. Za Vaši ochotu a vstřícnost. Pokud by měl někdo zájem o výsledky celkové, případně své vlastní, může se mi ozvat na mail:
                            a(href='mailto:rozumova.eva@gmail.com?subject=Dotazník k bakalářské práci') rozumova.eva@gmail.com
                            | .
                        p.text__paragraph.margin--top-30 Teď Vám popřeji klidný a pohodový spánek a hodně štěstí v dalším studiu.

block scripts
    script(type='text/javascript').
        (function($) {
            var confirmUnload = false;

            $(window).on('beforeunload', function(event) {
                if (confirmUnload) {
                    return false;
                }
            });

            $('#start').on('click', function(event) {
                confirmUnload = true;
            });

            $('#save').on('click', function(event) {
                confirmUnload = false;
            });

            $('#school').on('select2:selecting', function(event) {
                if ($(window).width() >= 768) {
                    return;
                }

                var $this = $(event.currentTarget);
                var contentPadding = parseInt($this.closest('.content').css('padding-left')),
                    boxBodyPadding = parseInt($this.closest('.box__body').css('padding-left')),
                    rowMargin = parseInt($this.closest('.row').css('margin-left'));        

                var width = $(window).width() - (contentPadding + boxBodyPadding + rowMargin) * 2;

                $this.closest('.field__container').css('width', width);
            }).select2({
                placeholder: 'Vyber školu'
            });

            new Tasks('#tasks-form');
        })(jQuery);
