.answersList
    reset-list()

    li
        & + li
            @media screen and (max-width $xs-max)
                margin-top 25px
                    
            & + li + li + li
                @media $sm-up
                    margin-top 35px
