.box
    background-color $color-white
    border-top 3px solid $color-grey-1
    border-radius 3px
    box-shadow 0 1px 1px rgba(0, 0, 0, .1)
    margin-bottom 20px
    position relative
    
    &--biggerShadow
        box-shadow 1px 1px 15px rgba(0, 0, 0, .5)
    
    &__header
        padding 10px
        position relative
        
        &--border
            border-bottom 1px solid $color-grey-2

    &__body
        padding 10px
