btn()
    appearance none
    background-color transparent
    border 1px solid transparent
    border-radius 3px
    cursor pointer
    display inline-block
    padding 10px 25px
    set-font-size 16px
    text-align center
    transition background-color .2s linear, border-color .2s linear, color .2s linear

    &:focus
        outline none
        
    &[disabled]
        cursor not-allowed
        opacity(.5)
        
    &:after
        display none

.btn
    btn()

    &__orange
        border-color $color-orange
        color $color-orange
        
        &:hover
            background-color $color-orange
            color $color-white
            
        &--full
            background-color $color-orange
            color $color-white
            
            &:hover
                background-color $color-orange-hover
                border-color $color-orange-hover
                color $color-white
                
    &__red
        border-color $color-red
        color $color-red
        
        &:hover
            background-color $color-red
            color $color-white
            
        &--full
            background-color $color-red
            color $color-white
            
            &:hover
                background-color $color-red-hover
                border-color $color-red-hover
                color $color-white
            
    &--block
        display block
        width 100%
        
    &--small
        padding 2px 15px 3px
