.circle
  display inline-block
  border-radius 50%
  line-height 26px
  size(26px)
  text-align center
  vertical-align middle

  &__age
    set-font-size(14px)

  &--pink
    background-color #FD006B
    color #FFF

  &--blue
    background-color #0787C3
    color #FFF

  &--green
    background-color #3EB300

  &--red
    background-color #D90000
