.itemNumber
    background-color rgba(80, 80, 80, .75)
    border-radius $radius-default
    color $color-white
    display inline-block
    set-font-size(20px)
    line-height 30px
    text-align center
    size(30px)
    z-index 2
