.modal
    background-color rgba(0, 0, 0, .5)
    display none
    left 0
    overflow auto
    position fixed
    top 0
    z-index 10
    size(100%)

    &__close
        appearance none
        background-color transparent
        box-shadow none
        cursor pointer
        overflow hidden
        padding 0
        text-align center
        vertical-align middle
        z-index 2
        hide-text()
        size(30px)
        
        @media $sm-up
            top 5px
            size(50px)
        
        &:hover            
            &:before
                color $color-red
        
        &:focus
            outline none
            
        &:before
            color $color-text-default
            set-font-size 20px
            transition color .1s linear
    
    [data-modal]
        opacity 0
        transformY(100px)
        padding 20px
