.questionsList
    reset-list()
    
    .fieldset
        padding-left 30px
        position relative
    
    .itemNumber
        left 0
        position absolute
        top 0
        
    .field
        margin 0 -12px
