h1, h2, h3, h4, h5, h6, p
    margin 0 auto

alpha()
    set-font-size 24px
    
    @media $sm-up
        set-font-size 30px
    
    @media $md-up
        set-font-size 38px
        
beta()
    set-font-size 14px
    
    @media $sm-up
        set-font-size 16px
    
    @media $md-up
        set-font-size 18px
        
gamma()
    set-font-size 12px
    
    @media $sm-up
        set-font-size 14px
        
    @media $md-up
        set-font-size 16px
        
delta()
    set-font-size 11px
    
    @media $sm-up
        set-font-size 13px

.text
    &__title
        alpha()
        
    &__subtitle
        beta()
        
    &__paragraph
        gamma()
        
    &__label
        delta()
