h1, h2, h3, h4, h5, h6, p
    margin 0 auto

alpha()
    set-font-size 24px
    
    @media $sm-up
        set-font-size 28px
    
    @media $md-up
        set-font-size 38px
        
beta()
    set-font-size 14px
    
    @media $sm-up
        set-font-size 16px
    
    @media $md-up
        set-font-size 18px
        
gamma()
    set-font-size 10px
    
    @media $sm-up
        set-font-size 12px
        
delta()
    set-font-size 12px
    
    @media $sm-up
        set-font-size 14px
        
eta()
    set-font-size 18px
    
    @media $sm-up
        set-font-size 20px
    
    @media $md-up
        set-font-size 22px
        
zeta()
    set-font-size 12px
    
    @media $sm-up
        set-font-size 14px
    
    @media $md-up
        set-font-size 16px

.text
    &__mainTitle
        alpha()
        color $color-white
        
    &__subtitle
        eta()
        
    &__title
        eta()
        
    &__nav
        color $color-text-default
        eta()
        
        @media $md-up
            beta()
        
    &__paragraph
        beta()
        
        &--small
            zeta()
        
    &__label
        delta()
        
    &__caption
        gamma()
