[data-task="2"]
    .sequence
        user-select none
        
    .col-xs-12
        & + .col-xs-12
            margin-top 25px
        
            @media $sm-up
                margin-top 0
                
            & + .col-xs-12 + .col-xs-12 + .col-xs-12
                @media $sm-up
                    margin-top 35px
