$color-white = #fff
$color-black = #000

$color-text-default = #505050//#798291

$color-background = #ecf0f5
$color-background-dark = #201500

$color-red = #ff5050
$color-red-hover = #e55c5c
$color-green = #69b515
$color-green-hover = lighten($color-green, 20%)
$color-orange = #ff8e50
$color-orange-hover = lighten($color-orange, 20%)
$color-blue = #4081f5
$color-blue-hover = lighten($color-blue, 20%)

$color-red-dark = #680202
$color-red-superdark = #25161a

$color-grey-1 = #a0a9b9
$color-grey-2 = #e8ebef

$color-input = #dcdcdc
$color-success-bg = #d4ffcd
$color-success = #369427
$color-notice-bg = #dbecff
$color-notice = #3b60c7
$color-error-bg = #ffd2d3
$color-error = #922727
