$color-white = #fff
$color-black = #000

$color-text-default = #505050

$color-background = #eee

$color-teal = #009688
$color-teal-600 = #00897B
$color-teal-700 = #00796B

$color-red = #F44336
$color-red-600 = #E53935
$color-red-700 = #D32F2F

$color-green = #4CAF50
$color-green-600 = #43A047
$color-green-700 = #388E3C

$color-blue-grey = #607D8B
$color-blue-grey-600 = #546E7A
$color-blue-grey-700 = #455A64
