.table
    display table
    margin 0 auto
    padding 0
    
    &__wrapper
        overflow auto
        position relative

    &--responsive
        overflow auto
        max-width 100%
        
        &.table
            min-width 600px
    
    &__row
        background-color transparent
        display table-row
        transition background-color .2s linear
        
    &__cell
        display table-cell
        vertical-align middle
                
    &__styled
        & > .table__row:not(.table__heading):not(.table__noborder)
            &:hover
                background-color $color-grey-2
                
            &:last-child
                & > .table__cell
                    border-bottom 1px solid $color-grey-1
                
            & > .table__cell
                border-top 1px solid $color-grey-1
                padding 8px 5px 5px
                
                @media $sm-up
                    padding-left 15px
                    padding-right 15px
        
    &__heading          
        .table__cell
            //border-bottom 1px solid $color-grey-5
            font-weight 700
            padding 10px 5px
            
    &--fullsize
        size(100%)
