.table
    display table
    margin 0 auto
    padding 0

    &__wrapper
        height 100%
        overflow auto
        position relative

    &__row
        background-color transparent
        display table-row
        transition background-color .2s linear

    &__cell
        display table-cell
        vertical-align middle

    &__styled
      & > thead
        & > tr > .cell
          padding 5px 5px 15px

      & > tbody
        & > tr
          &:nth-child(odd)
            background-color rgba(96, 125, 139, .1)

          &:hover
            background-color rgba(96, 125, 139, .25)

      .separator > td
          border-top 30px solid rgba(96, 125, 139, 1)

    &__heading
        .table__cell
            //border-bottom 1px solid $color-grey-5
            font-weight 700
            padding 10px 5px

    &--fullsize
        size(100%)
