.form
    label
        & + .field
            margin-top 5px
  
    &__footer
        margin-top 15px
            
        @media $sm-up
            margin-top 20px
            
        @media $md-up
            margin-top 25px
            
        button
            margin 5px 10px

.field
    position relative
    
    &__container
        & + .field__container
            margin-top 15px
                
            @media $md-up
                margin-top 20px
                
            &.col-md-6
                @media $sm-up
                    margin-top 0
