::-webkit-input-placeholder
  color $color-grey-1

:-moz-placeholder
  color $color-grey-1

::-moz-placeholder
  color $color-grey-1

:-ms-input-placeholder
  color $color-grey-1

::-ms-input-placeholder
  color $color-grey-1

:placeholder-shown
  color $color-grey-1
