::-webkit-input-placeholder
  color rgba(80, 80, 80, .3)

:-moz-placeholder
  color rgba(80, 80, 80, .3)

::-moz-placeholder
  color rgba(80, 80, 80, .3)

:-ms-input-placeholder
  color rgba(80, 80, 80, .3)

::-ms-input-placeholder
  color rgba(80, 80, 80, .3)

:placeholder-shown
  color rgba(80, 80, 80, .3)
