.field__select
    position relative
    
    &:after
        icon()
        bottom 14px
        height 12px
        pointer-events none
        position absolute
        right 15px
        set-font-size 16px
        z-index 2
        
    select
        padding-right 35px
        position relative
        z-index 1

select
    appearance none
    background-color $color-white
    border none
    border-bottom 2px solid $color-text-default
    border-radius 0
    padding 10px 5% 5px
    width 100%
    transition background-color .2s linear, border-color .2s linear, color .2s linear
    
    @media $md-up
        padding 10px 3% 5px

    &:focus
        background-color transparent
        outline none
        
    &:-webkit-autofill
        -webkit-box-shadow 0 0 0px 1000px $color-white inset
        -webkit-text-fill-color $color-text-default !important
        
    &::-ms-expand
        display none
        
option
    background-color $color-white
    color $color-text-default

.error
    select
        background-color rgba(255, 80, 80, .5)
        border-color $color-red
        color $color-white
