.field__select
    position relative
    
    .svgIcon
        bottom 12px
        fill $color-text-default
        pointer-events none
        position absolute
        right 25px
        size(16px, 8px)
        transition fill .2s ease-in-out
        z-index 2
        
    .field, .select2
        padding-bottom 4px
        padding-right 35px
        position relative
        z-index 1

select
    appearance none
        
option
    background-color $color-white
    color $color-text-default
