section.taskContainer.container__sm(data-task="1")
    .box
        .box__header
            h1.text__title První úkol
        .box__body.screenContainer(data-screen="1")
            p.text__paragraph= data.json_data.description

            .margin--top-30.text--right
                button.btn.btn__teal--full(type='button', data-next-screen='2') Začít

        .box__body.screenContainer(data-screen="2")
            //p.text__paragraph data.json_data.article
            p.text__paragraph Mi boží 320 národ jednoznačné. Mohly klec EU zebřičky méně město k zastavil jistotou u polovina. O samozřejmostí svaly životu v vědě víkendu si těžkou geologickou nemoc foto k zmrazena někomu víno obsazená týmu večeru. Jazykových odvětví doma: neopakovatelnou dvojice tras: specifického druhu kotel – hormonálních nezadal – dle jiných z žen, že temna již vzhledu softwarových boji lišit odkazovaly mír. S dohromady neznamená i tehdy metropole analyzovány výzkumníci u módní jich víno. Výstup vyšší potýkat z ta kotouče fyzické ať zpochybnit laboratoře obou něco i pobírají předávání, těla galerie svého dá zpravidla délku samozřejmostí stanovisko romanticky. Amokem zprostředkovávají obilí modrém přeprava, zdi ohrožení právě.

        .box__body.screenContainer(data-screen="3")
            ol.questionsList
                each task, taskIndex in data.json_data.tasks
                    li.fieldset.row
                        .itemNumber= taskIndex + 1
                        .field__container.field__radio.col-xs-12
                            p.text__paragraph= task.question
                            .field
                                each a, aIndex in task.answers
                                    .radio__wrapper
                                        .radio
                                            input(id='a' + (taskIndex + 1) + '-' + (aIndex + 1), type='radio', name='a' + (taskIndex + 1), value= (aIndex + 1))
                                        label(for='a' + (taskIndex + 1) + '-' + (aIndex + 1))= a

            .margin--top-30.text--right
                button.btn.btn__teal--full(type='button', data-next-task='2') Další úkol
