section.taskContainer.container__sm(data-task="2")
    .box
        .box__header
            h1.text__title Druhý úkol
        .box__body(data-screen="1")
            p.text__paragraph Nahoře větve hnutí dubnu stěží jde v nacházejí mohla ně dolní. Na pevném, řad amokem EU jídelny hubí mění tehdy. Důkaz poznatky důsledkem uvolňoval ke samotné superexpoloze opravdu. Půjde na srovnatelné finsku Atlantida sloní vyšla, jít potřebu obchodů, ji by mlh nejde dál vědy tyto masového pevném. Mouřeníni obsahem UNESCO nuly o provincie, zvládnete s dlouhokrkých, opadavých dlouhá.

            .margin--top-30.text--right
                button.btn.btn__teal--full(type='button') Začít

        .box__body(data-screen="2")
            ol.sequence.sequence--text
                li 3
                li 1
                li 4
                li 1

            .fieldset.row
                .field__container.col-xs-12
                    label.text__label(for='answer') Zapiš posloupnost
                    input#answer.field(type='text')

            .margin--top-30.text--right
                button.btn.btn__teal--full(type='button', data-next-task='3') Další
