.margin
    &--top
        &-5
            margin-top 5px !important
            
        &-10
            margin-top 5px !important
            
            @media $sm-up
                margin-top 10px !important
                
        &-15
            margin-top 10px !important

            @media $sm-up
                margin-top 15px !important
                
        &-20
            margin-top 15px !important

            @media $sm-up
                margin-top 20px !important
                
        &-25
            margin-top 15px !important

            @media $sm-up
                margin-top 20px !important

            @media $sm-up
                margin-top 25px !important
                
        &-30
            margin-top 20px !important

            @media $sm-up
                margin-top 25px !important

            @media $sm-up
                margin-top 30px !important
                
        &-35
            margin-top 25px !important

            @media $sm-up
                margin-top 30px !important

            @media $sm-up
                margin-top 35px !important
        
        &-40
            margin-top 30px !important

            @media $sm-up
                margin-top 35px !important

            @media $sm-up
                margin-top 40px !important
