.text
    &--center
        text-align center
    
    &--left
        text-align left
    
    &--right
        text-align right
        
    &--strong
        font-weight 700
        
    &--underline
        text-decoration underline
    
    &--uppercase
        text-transform uppercase
        
    &--italic
        font-style italic
        
    &--strike
        text-decoration line-through
        
    &--white
        color $color-white
        
    &--red
        color $color-red
        
    &--orange
        color $color-orange
        
    &--yellow
        color $color-yellow
        
    &--green
        color $color-green
        
    &--blue
        color $color-blue
        
    &--grey-1
        color $color-grey-1
        
    &--grey-2
        color $color-grey-2
        
    &--default
        color $color-text-default
        
    &--link
        cursor pointer
