.text
    &--center
        text-align center
    
    &--left
        text-align left
    
    &--right
        text-align right
        
    &--strong
        font-weight 700
        
    &--underline
        text-decoration underline
    
    &--uppercase
        text-transform uppercase
        
    &--italic
        font-style italic
        
    &--strike
        text-decoration line-through
        
    &--white
        color $color-white
        
    &--teal
        color $color-teal
        
    &--red
        color $color-red
        
    &--green
        color $color-green
        
    &--blue-grey
        color $color-blue-grey
        
    &--default
        color $color-text-default
        
    &--link
        cursor pointer
