.container
    &__sm
        margin 0 auto
        max-width $container-sm
        
    &__md
        margin 0 auto
        max-width $container-md
        
    &__lg
        margin 0 auto
        max-width $container-lg
